<<<<<<< HEAD
.container{
  width: 100%;
  
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.first-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
    height: 100%;
   }
.left-section{
    width: 50%;
    margin: 30px 0px;
    font-size: 4rem;
    color:black;
   
   }
span#element{
    font-size: 3rem;
}
div.home-about{
    font-size: 1.1rem;
}
.left-section div{
    margin: 20px 0px;
   }
   .left-section div.about{
    font-size: 1rem;
    margin-top: 40px;
   }

   .right-section{
    width: 30%;
    margin: 30px 0px;
    height: 75%;
    border-radius: 50%;
  
   }
   .circle{
    width: 100%;
    background-color:#b56357;
    /* background-color: #3d2513; */
    border-width: 0px;
    border-radius: 50%;
    height: 35%;
   }
   .right-section img{
      
    width: 90%;
    border-radius: 50%;
    height: 90%;
  
 }
 .right ul li a{
  color:whitesmoke;
 }
 
 div.aboutt {
    display: inline-block; /* Ensure the div expands to fit its content */
}
div.aboutt a {
    color: white; /* Set default color */
    text-decoration: none; 
}
 div.aboutt a:hover{
    /* color:#3d2513; */
    transform: scale(1.1);
    font-size: 1.1rem;
 }
 
 #element{
     color: black;
 }
 .second-section{
     max-width: 80vw;
     margin-left: 60px;
 }
 main hr{
    border: 0;
    height: 2px;
    background: #73a05c;
      margin: 20px 60px;
    }

   /* second section */

.second-section {
    display: flex;
    justify-content: space-around;
    height: 70vh;
}

.left-skills{
    width: 50%;
    margin: 20px 40px;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
}
.right-skills{
    width: 50%;
    margin: 20px 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}
.learn {
    margin: 10px 60px;
}
.learn h1{
    color: #3d2513;
    font-size: 50px;
}
.right-skills ul li{
 font-size: 26px;
 color: #3d2513;
}
.left-skills ul li{
    font-size: 23px;
    color: #3d2513;
   }
.left-skills ul h1{
    font-size: 30px;
    color: #3d2513;
}
.right-skills ul h1{
    font-size: 30px;
    color: #3d2513;

}

.image-top{
    width: 35px;
    color: yellow;
    position: relative;
    top: 8px;
}
.left-skills ul li span{
    font-size: 30px;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background-color: #b56357;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}
.btn-box:hover{
    box-shadow: 0 0 25px #b56357,
    0 0 50px #3d2513
     ;
}
/* .third-section{
    display: flex;
    justify-content: space-around;
    height: 80vh;
} */
/* thirdSection */
.third-section{
    padding-top:50px ;
    margin-top: 50px ;
    margin: 50px;
    align-items: center;
   
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px,auto));
    grid-gap: 10px;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(10, 0, 0, 0.1),white);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: height 0.5s;
}
.layer h5{
    color: black;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
}
.layer p{
    color: black;
    font-size: 1rem;
    /* line-height: 1.8; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.layer i{
    color: black;
    margin-top: 20px;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60x;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
    filter: blur(8px);
}
.row:hover .layer{
    height: 100%;
}



/* aboutSection */

.fourth-section{
    height: 80vh;  
    max-width: 100%;
    margin: auto;
    display:block;
    justify-content: center;
    align-items: center;
    div.about{
        margin-left: 5%;
    }
    .about h1{
        color: #3d2513;
        font-size: 40px;
        margin: auto;
    }
}
.fourth-text{
    height: max-content;
    width: 80%;
    color:#3d2513;
    background-color: #d8ebd5;
    margin: auto;
    width: 60%;
    border: 1px solid #3d2513;
    padding:  20px;
    text-align: center;
    border-radius: 20px;

  .btn-box{
    background-color: #3d2513;
  }
  .btn-box:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px #3d2513;
  }
  
}




/* contactPage */

.contact{
    margin: 0px 60px;
}
.contact h1{
    color: #3d2513;
    font-size: 40px;
}
.contact-email{
    color: #3d2513;
    margin: 0px 60px;
}
.fifth-section{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-img{
    width: 29px;
    color: yellow;
    position: relative;
    top: 10px;
}
.contact-email span{
    font-size: 16px;
}
/* .container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
form{
    background: #b56357;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 80%;
    height: 70vh;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: #3d2513;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
    border-radius: 5px;
}
form button{
    padding: 10px;
    background: whitesmoke;
    color: #b56357;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 15px auto 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .fa-solid{
    display: none;
}

.sixth-section{
    background-color: #eae3ea;
    height: 30vh;
    max-width: 100%;
}
.sixth-section .copyright{
    margin: 5%;
    color: #b56357;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div.copyright-icons{
        display: flex;
        flex-direction: column;
        text-decoration: underline;
        
    }
}



@media(max-width:646px){
    .first-section{
        flex-direction: column-reverse;
       }
       div.right-section{
        width: 60%;
       }
       div.left-section{
        width: 80%;
       }
       nav .fa-solid{
        display: block;
        font-size: 25px;
    }
       .right ul {
        background: #3d2513;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        display: block;
        font-size: 20px;
        z-index: 2;
        transition: right 0.5s;
      
       }
       .right ul li{
        margin: 25px;
       } 
       .right ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
       }
       .second-section{
        flex-direction: column;
       }
       div.right-skills{
       display: flex;
       justify-content:space-between;
       margin: 20px 40px;
       }
       .right-skills ul h1{
        display: flex;
        justify-content: space-between;
       }
    .learn h1 {
        font-size: 40px;
       
      }
      .btn-box {
        font-size: 16px;
      }
      div.fourth-img{
        display: none;
      }
      div.fourth-text{
        text-align: center;  
       position: relative;
       left:0px; 
       margin-left:100px; 
       margin-right:100px;
       font-size: 20px;
      }
      body{
        min-width: fit-content;
      }
      
    
}

@media(max-width:600px) {
    .second-section{
        height: fit-content;
    }
    .fourth-section{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .fourth-section .about{
        display: none;
    }

    
}
@media(max-width:400px){
     .fourth-section{
        height: fit-content;
     }
     
}
/* -------css for phone----- */
=======
.container{
  width: 100%;
  
}
html{
    scroll-behavior: smooth;
}
/* .first-section{
    position: relative;
    width: 100%;
    height: 100vh;
} */
.first-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
    height: 100%;
   }
.left-section{
    width: 50%;
    margin: 30px 0px;
    font-size: 4rem;
    color:#3d2513;
   
   }
span#element{
    font-size: 3rem;
}
div.home-about{
    font-size: 1.1rem;
}
.left-section div{
    margin: 20px 0px;
   }
   .left-section div.about{
    font-size: 1rem;
    margin-top: 40px;
   }

   .right-section{
    width: 30%;
    margin: 30px 0px;
    height: 75%;
    border-radius: 50%;
  
   }
   .circle{
    width: 100%;
    background-color:#73a05c;
    /* background-color: #3d2513; */
    border-width: 0px;
    border-radius: 50%;
    height: 35%;
   }
   .right-section img{
      
    width: 90%;
    border-radius: 50%;
    height: 90%;
  
 }
 .right ul li a{
  color:whitesmoke;
 }
 
 div.aboutt {
    display: inline-block; /* Ensure the div expands to fit its content */
}
div.aboutt a {
    color: white; /* Set default color */
    text-decoration: none; 
}
 div.aboutt a:hover{
    /* color:#3d2513; */
    transform: scale(1.1);
    font-size: 1.1rem;
 }
 
 #element{
     color: black;
 }
 .second-section{
     max-width: 80vw;
     margin-left: 60px;
 }
 main hr{
    border: 0;
    height: 2px;
    background: #73a05c;
      margin: 20px 60px;
    }

   /* second section */

.second-section {
    display: flex;
    justify-content: space-around;
    height: 70vh;
}

.left-skills{
    width: 50%;
    margin: 20px 40px;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
}
.right-skills{
    width: 50%;
    margin: 20px 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}
.learn {
    margin: 10px 60px;
}
.learn h1{
    color: #3d2513;
    font-size: 50px;
}
.right-skills ul li{
 font-size: 26px;
 color: #3d2513;
}
.left-skills ul li{
    font-size: 23px;
    color: #3d2513;
   }
.left-skills ul h1{
    font-size: 30px;
    color: #3d2513;
}
.right-skills ul h1{
    font-size: 30px;
    color: #3d2513;

}

.image-top{
    width: 35px;
    color: yellow;
    position: relative;
    top: 8px;
}
.left-skills ul li span{
    font-size: 30px;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background-color: #3d2513;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}
.btn-box:hover{
    box-shadow: 0 0 25px #3d2513,
    0 0 50px #3d2513
     ;
}
/* .third-section{
    display: flex;
    justify-content: space-around;
    height: 80vh;
} */
.third-section{
    padding-top:50px ;
    margin-top: 50px ;
    margin: 50px;
    align-items: center;
   
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px,auto));
    grid-gap: 10px;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(10, 0, 0, 0.1),white);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 12px;
    transition: height 0.5s;
}
.layer h5{
    color: black;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
}
.layer p{
    color: black;
    font-size: 1rem;
    line-height: 1.8;
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}
.layer i{
    color: black;
    margin-top: 20px;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60x;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.about{
    margin: 10px 60px;
}
.about h1{
    color: #3d2513;
    font-size: 40px;
}
.fourth-section{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    
}
.fourth-image{
    height: 40vh;
    padding: 10%;
    /* margin-left: 50px;
    /* max-width: 630px; */
    /* width: 36%;
    border-radius: 50%; */ 
}
.fourth-text{
    width: 90%;
    margin: -55px 10px;
}
.fourth-text h2{
    color: #3d2513;
}
.fourth-text p{
    color: #3d2513;
}
div.about-icons {
    height: 1rem;
}
div.about-icons a{
    font-size: 1rem;
}
.contact{
    margin: 0px 60px;
}
.contact h1{
    color: #3d2513;
    font-size: 40px;
}
.contact-email{
    color: #3d2513;
    margin: 0px 60px;
}
.fifth-section{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-img{
    width: 29px;
    color: yellow;
    position: relative;
    top: 10px;
}
.contact-email span{
    font-size: 16px;
}
/* .container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
form{
    background: rgb(255, 254, 254);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 80%;
    height: 70vh;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: #3d2513;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button{
    padding: 10px;
    background: #73a05c;
    color: #3d2513;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 15px auto 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .fa-solid{
    display: none;
}
@media(max-width:646px){
    .first-section{
        flex-direction: column-reverse;
       }
       div.right-section{
        width: 60%;
       }
       div.left-section{
        width: 80%;
       }
       nav .fa-solid{
        display: block;
        font-size: 25px;
    }
       .right ul {
        background: #3d2513;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        display: block;
        font-size: 20px;
        z-index: 2;
        transition: right 0.5s;
      
       }
       .right ul li{
        margin: 25px;
       } 
       .right ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
       }
       .second-section{
        flex-direction: column;
       }
       div.right-skills{
       display: flex;
       justify-content:space-between;
       margin: 20px 40px;
       }
       .right-skills ul h1{
        display: flex;
        justify-content: space-between;
       }
    .learn h1 {
        font-size: 40px;
       
      }
      .btn-box {
        font-size: 16px;
      }
      div.fourth-img{
        display: none;
      }
      div.fourth-text{
        text-align: center;  
       position: relative;
       top:-36px; 
       left:0px; 
       margin-left:100px; 
       margin-right:100px;
       font-size: 20px;
      }
      body{
        min-width: fit-content;
      }
    
}

@media(max-width:600px) {
    .second-section{
        height: fit-content;
    }
}
/* -------css for phone----- */
>>>>>>> 12b3483f969b9ef60d7018dffff844ef59310f52
